:root{
    --borderrad :10px;
    --primcolor:rgb(34, 8, 95);
    --primhover:rgb(22, 0, 75);
    --primfont:blanchedalmond;
}

*{
    margin:0%;
    padding:0%;
    overscroll-behavior: none;
}

.subdiv{
    display: flex;
    flex-direction: row;
  
}
.show{
    display: flex;
    flex-direction:column;
    justify-content: space-around;  
    height:40vh;
    width:50vw;
    background-color: rgb(92, 97, 116); 
   

}
.subhead{
    background-color: rgb(17, 17, 17);
    height:5vh;
    line-height:5vh;
    color: var(--primfont);
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
.inp{
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    height:3.5vh;
    width:35vw;
    display: block;
    border-radius: var(--borderrad);
    margin-top:1vh;
    padding-left:8px;
    font-size:120%;
    font-weight:bold;
}

input:focus{
    outline: none;
}

.btnrow{
display: flex;
flex-direction: row;
justify-content: space-around;
width:35vw;
margin-left: auto;
margin-right: auto;
height: 30%;
}
.btn{
height:5vh;
width:10vw;
border-radius: var(--borderrad);
background-color: var(--primcolor);
color: var(--primfont);
font-size:150%;

}
.btn:hover{
    background-color: var(--primhover);
}
.data{
    height:3vh;
    line-height: 3vh;
    width:40vw;
    background-color: rgb(240, 228, 228);
    text-align: center;
    border-radius: var(--borderrad);
    margin-top:1vh;
    margin-left: 5vw;
    font-size: 115%;
    display: flex;
    flex-direction: row;
}
.entries{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
}
.datacat{
    margin-left:3vw;
    width: 70%;
    text-align: left;
}
.dataamt{
    width: 30%;
    text-align: left;
}

.ftxt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:10vh;
    width: 50vw;
    text-align: center;
    margin-left:25vw;
    color: var(--primfont);
    
}
.fitem{
    width:20vw;
    text-align: left;
}
.txt{
    font-size:160%;
}
#header{
    height: 10vh;
    background-color: var(--primcolor);
    text-align: center;
    line-height:10vh;
    font-size:200%;
    color: var(--primfont);
}
#middle{
    display: flex;
    flex-direction: column;
}
#footer{
    height: 10vh;
    background-color: var(--primcolor);
}
::-webkit-scrollbar {
    width: 0px;
}
@media screen and (max-width: 1000px) {
    body {
      background-color: blue;
    }
    #header{
        font-size:150%;
    }
    .txt{
    font-size:130%;    
    }
    .data{
        margin-left:4vw;
        height:2.8vh;
        line-height: 2.8vh;
        font-size: 105%;
    }
    .btn{
        height:4vh;
        width:12vw;
        font-size:110%;
    }
    .inp{
        padding-left:6px;
    }}
@media screen and (max-width: 630px) {
    body {
      background-color: olive;
    }
    .subdiv{
        display: flex;
        flex-direction: column;
    }
    .show{
        width:100vw; 
    }
    .inp{
        width:70vw;
        padding-left:15vw;
        padding-left:6px;
    }
    .btnrow{
        width:70vw;
        margin-left:15vw;
    }
    .data{
        width:70vw;
        margin-left:15vw;
    }
    .ftxt{
        margin-left:auto ;
        margin-right:auto;
        width: 80vw;
    }
    #footer{
     font-size:100%;
    }
 
    #header{
        font-size:130%;
    }
    .fitem{
        width:40vw;}

  }




